  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="../../assets/CSS/bootstrap.rtl.min.css">
  <link rel="stylesheet" href="../../assets/CSS/style.css">

 <!-- Start - Main Content  -->
  <!-- ********************************************************************************************************* -->
  <main class="container myexperince-section-wrapper my-4 mt-5">
    <h3>اصلاح خاطرات و تجربیات</h3>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
          <form method="POST" action="../update/{{experienceData.id}}" class="row g-3 needs-validation">

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="txtSubject" name="txtSubject" minlength="10" 
                placeholder="موضوع خود را بنویسید."  title="لظفا موضوع تجربه یا خاطره خود را اینجا بنویسید"
                autocomplete="off" autofocus="true" required value="{{experienceData.Title}}">
              <label for="txtSubject" class="mandatory">عنوان خاطره / تجربه </label>
              <small class="errMessage" data-err="formatted" hidden> عنوان باید بیش از ۱۰ کاراکتر باشد.</small>
              <small class="errMessage" data-err="mandatory" hidden> عنوان اجباری می باشد. </small>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="txtFullname" name="txtFullname" minlength="10" placeholder="نام و نام خانوادگی" value="{{experienceData.fullName}}">
              <label for="txtFullname">نام و نام خانوادگی</label>
            </div>

            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="txtEmail" name="txtEmail"  placeholder="name@example.com" required value="{{experienceData.Email}}">
              <label for="txtEmail" class="mandatory">آدرس پست الکترونیکی</label>
              <small class="errMessage" data-err="formatted" hidden>فرمت پست الکترونیکی صحیح نمی‌باشد.</small>
              <small class="errMessage" data-err="mandatory" hidden> پست الکترونیکی اجباری می باشد. </small>
            </div>

            <div class="form-floating mb-3">
              <textarea class="form-control txt-experience"  id="txtExperience" name="txtExperience" rows="3" minlength="30" required
                placeholder="متن خاطره یا تجربه خود را اینجا بنویسید ...">{{experienceData.Description}}
                </textarea>
              <label for="txtExperience" class="mandatory">متن تجربه / خاطره خود را اینجا بنویسید...</label>
              <small class="errMessage" data-err="formatted" hidden>متن تجربه / عنوان باید بیش از 30 کاراکتر
                باشد.</small>
              <small class="errMessage" data-err="mandatory" hidden> متن تجربه/خاطره اجباری می باشد. </small>
            </div>

            <div class="col-12 my-2 text-center d-flex align-items-center captcha">
              <div class="captcha-img">
                <img class="img-fluid" src="../../assets/Images/captcha-bg.png" alt="captcha background image"><span
                  id="captchaTitle">کلمه روبرو را بنویسید:</span><span id="captchaValue"></span>
              </div>

              <button class="btnReload"><i class="fas fa-redo-alt"></i></button>
              <input type="text" class="form-control" id="captchaInput" maxlength="3" >
            </div>
            <div class="col-12 my-2 text-center">
              <button class="btn btn-success  custom-btn" type="submit" id="btnSubmit">اصلاح خاطره</button>
              <button class="btn btn-secondary custom-btn" type="reset" id="btnCancel">انصراف</button>
            </div>
          </form>
      </div>
    </div>
  </main>
  <!-- ********************************************************************************************************* -->
  <!-- End  - Main Content   -->
  <script src="../../assets/JS/bootstrap.bundle.min.js"></script>
  <script src="../../assets/JS/jquery-3.2.1.min.js"></script>
  <script src="../../assets/JS/aos.js"></script>
  <script src="../../assets/JS/main.js"></script>
